.container_todo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 231, 216, 0.667);
}

.username {
    font-size: x-large;
}

/*

background-image: linear-gradient(to left, rgba(45, 15, 240, 0.682) , rgba(109, 157, 231, 0.564));
*/