.container_todoComponent {
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.AddTodo {
    display: flex;
}

.div1 {
    flex-grow: 10000;
}

.div2 {
    flex-grow: 1;
    position:relative;
}

#textField_addTodo {
    background-color: white;
}

#btn_addTodo {
    float: none;
    margin-right: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn_delete {
    background-color: red;
}

#input_box {
    transform : scale(2);
    margin-right: 15px;
}

.container_todoList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: auto;
}

.todo_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid black;
    background-color: white;
}